@using Contacts.Models;
@model List<ContactViewModel>

<div>
    <div>
        <a href="/Home/CreateNewContact">Add </a>
    </div>
    @foreach (var viewModel in Model)
    {
        <div>
            @viewModel.Name
            <a href="/Home/DeleteContact?id=@viewModel.Id">Delete </a>
            <a href="/Home/UpdateContact?id=@viewModel.Id">Update </a>
        </div>
    }
</div>

@*
@section Styles{
    <link rel="stylesheet" href="~/css/contactstyle.css">
    }

@section Scripts{
    <script src="~/js/validationscript.js"></script>
    } *@

